<%= render partial: "shared/header" %>
<div class="main">
  <div class="new-main">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname %>
       <span class="indispensable">＊必須</span><br>
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <span class="indispensable">＊必須</span><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <span class="indispensable">＊必須</span><br>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
       <span class="indispensable">＊必須</span><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

     <div class='form-text-wrap'>
        <label class="form-text">生年月日</label>
        <span class="indispensable">＊必須</span>
      </div>
      <div class='input-birth-wrap'>
        <%= raw sprintf(f.date_select(:birthday,class:'select-birth',id:"birth-date",
                      use_month_numbers: true,prompt:'--',start_year: 1930,
                      end_year: (Time.now.year - 5),date_separator: '%s'),
                    " 年 ", " 月 ") + " 日 " %>
      </div>
    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>

 </div>
    <%= render partial: "shared/fotter" %>
</div>