<div class="main">
  <ul class="diaries">
    <li class="lists">
      <div class ="d-date">
        <%= link_to diary.day_date, diary_path(diary.id), method: :get %>
      </div>
       <%= link_to "by #{diary.user.nickname}", user_path(diary.user.id), class: :card__user %>  
      <div class="d-image">
        <%= link_to image_tag(diary.image.variant(resize: '300x300'), class: :diary__img ), diary_path(diary.id), method: :get %>
      </div>

      <div class="d-training_diary">  
            <%= diary.training_diary %><br>
      </div>
      <div class="show-more">
            <%=link_to"詳細を見る", diary_path(diary.id)%>
          </div>
      
    </li>
  </ul>
</div>
 

  