<%= render partial: "shared/header" %>
  
<div class="main">  
  <% if user_signed_in? %>  
    <%= link_to(new_diary_path, method: :get, class: 'tyokin-btn') do %>
      <span class='tyokin-btn-text'>貯筋する</span>
      <%= image_tag 'マッチョのイラスト4.png' , class: "tyokin-btn-icon" %>
    <% end %>
  <% end %>

   <ul class="diaries">
    <% @diaries.each do |d|%>
      <li class="lists">
        <%= link_to diary_path(d) do %>  
          <div class ="d-date">
            <%= d.day_date %><br>
          </div>
          <div class ="d-likes">
            <%= render partial: "likes/like", locals: { diary: d } %>
          </div>
           <%= link_to "by #{d.user.nickname}", user_path(d.user.id), class: :card__user %>
          <div class="d-image">
            <%= image_tag d.image.variant(resize: '300x300'), class: 'diary-image' if d.image.attached? %><br>
          </div>
        <%end%>
          <div class="d-training_diary">  
            <%= d.training_diary %><br> 
          </div>
          <div class="show-more">
            <%=link_to"詳細を見る", diary_path(d)%>
          </div>

        
      </li>
       
    <%end%>
  </ul>

  
</div>

<%= render partial: "shared/fotter" %>