<%= render partial: "shared/header" %>
<h1>投稿詳細ページ</h1>

  <%= @diary.day_date %> <br>
  <%= image_tag @diary.image.variant(resize: '300x300'), class: 'diary-image' if @diary.image.attached? %><br>
  【１種目】
  <%= @diary.training_part1.name %><br>
  <%= @diary.training_menu_1 %><br>
  <%= @diary.weight_1 %>㎏<br>
  <%= @diary.times_1 %>回<br>
  
  【２種目】
  <%= @diary.training_part2.name %><br>
  <%= @diary.training_menu_2 %><br>
  <%= @diary.weight_2 %>㎏<br>
  <%= @diary.times_2 %>回<br>
  
  【３種目】
  <%= @diary.training_part3.name %><br>  
  <%= @diary.training_menu_3 %><br>
  <%= @diary.weight_3 %>㎏<br>
  <%= @diary.times_3 %>回<br>
  
  【４種目】
  <%= @diary.training_part4.name %><br>  
  <%= @diary.training_menu_4 %><br>
  <%= @diary.weight_4 %>㎏<br>
  <%= @diary.times_4 %>回<br>

  【５種目】
  <%= @diary.training_part5.name %><br>  
  <%= @diary.training_menu_5 %><br>
  <%= @diary.weight_5 %>㎏<br>
  <%= @diary.times_5 %>回<br>

  <%= @diary.training_diary %><br>
   
  <% if user_signed_in? %> 
    <% if current_user == @diary.user%>
        <%= link_to "編集", edit_diary_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", diary_path, method: :delete, class:"item-destroy" %>
    <% end %>
  <% end %>

  <% if  user_signed_in? %>
      <%= form_with model: [@diary,@comment],local: true do |f|%>
        <div class="field">
          <%= f.label :content, "コメント" %><br />
          <%= f.text_field :content, id:"comment_content" %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %>
  <%else%>
    <div class="comment-caution">
      <%="※コメントするにはログインが必要です"%>
    </div>
  <% end %>

   <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to "#{comment.user.nickname}", user_path(comment.user.id), class: :comment_user %>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>