<%= render partial: "shared/header" %>
<div class="main">
  
  <div class="show-title">
    トレーニング詳細📝
  </div>

  <ul class="diaries">
    <li class="lists">
      <div class ="d-date">
        <%= @diary.day_date %>
      </div>
      <div class ="d-likes">
        <%= render partial: "likes/like", locals: { diary: @diary } %>
      </div>
      <div class="d-image">
        <%= image_tag @diary.image.variant(resize: '300x300'), class: 'diary-image' if @diary.image.attached? %><br>
      </div>    

      <div class="d-training-show">
       【１種目】
        <div class="training_part">
          部位    ：   <%= @diary.training_part1.name %>
        </div>
          メニュー：   <%= @diary.training_menu_1 %><br>
          重量    ：   <%= @diary.weight_1 %>㎏<br>
          回数    ：   <%= @diary.times_1 %>回<br>
      </div>

      <div class="d-training-show">
       【２種目】
        <div class="training_part">
          部位    ：   <%= @diary.training_part2.name %>
        </div>
          メニュー：   <%= @diary.training_menu_2 %><br>
          重量    ：   <%= @diary.weight_2 %>㎏<br>
          回数    ：   <%= @diary.times_2 %>回<br>
      </div>

      <div class="d-training-show">
       【３種目】
        <div class="training_part">
          部位    ：   <%= @diary.training_part3.name %>
        </div>
          メニュー：   <%= @diary.training_menu_3 %><br>
          重量    ：   <%= @diary.weight_3 %>㎏<br>
          回数    ：   <%= @diary.times_3 %>回<br>
      </div>

      <div class="d-training-show">
       【４種目】
        <div class="training_part">
          部位    ：   <%= @diary.training_part4.name %>
        </div>
          メニュー：   <%= @diary.training_menu_4 %><br>
          重量    ：   <%= @diary.weight_4 %>㎏<br>
          回数    ：   <%= @diary.times_4 %>回<br>
      </div>

      <div class="d-training-show">
       【５種目】
        <div class="training_part">
          部位    ：   <%= @diary.training_part5.name %>
        </div>
          メニュー：   <%= @diary.training_menu_5 %><br>
          重量    ：   <%= @diary.weight_5 %>㎏<br>
          回数    ：   <%= @diary.times_5 %>回<br>
      </div>

   
      <div class="d-training_diary">
        【日記】<br>
        <%= @diary.training_diary %><br>
      </div>
  
      <%= link_to "by  #{@diary.user.nickname}", user_path(@diary.user.id), class: :card__user %>
    </li>  
  </ul>   

  <% if user_signed_in? %> 
    <% if current_user == @diary.user%>
      <div class="edit-destroy-btn">
        <%= link_to "編 集", edit_diary_path, method: :get, class: "item-red-btn" %>
        <%= link_to "削 除", diary_path, method: :delete, class:"item-destroy" %>
      </div>
    <% end %>
  <% end %>

  <% if  user_signed_in? %>
      <%= form_with model: [@diary,@comment],local: true do |f|%>
        <div class="comment-field">
          <%= f.label :content, "コメント" %><br/>
          <%= f.text_field :content, id:"comment_content" %>
        </div>
        <div class="comment-actions">
          <%= f.submit "send", class: :form__btn  %>
        </div>
      <% end %>
  <%else%>
    <div class="comment-caution">
      <%="※コメントするには"%>
      <div class="comment-caution-rogin">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <%="が必要です"%>
    </div>
  <% end %>

   <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
         コメント一覧 
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to "#{comment.user.nickname}", user_path(comment.user.id), class: :comment_user %>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
</div>

<%= render partial: "shared/fotter" %>